[Unit]
Description=Add Flathub flatpak repository
ConditionPathExists=!/var/lib/flatpak/.flathub-repo-initialized
After=network-online.target
Before=flatpak-replace-fedora-apps.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/flatpak --system remote-delete --force flathub
ExecStartPre=-/usr/bin/flatpak --system remote-delete --force flathub-beta
ExecStart=/usr/bin/flatpak remote-add --system --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
ExecStartPost=/usr/bin/touch /var/lib/flatpak/.flathub-repo-initialized

[Install]
WantedBy=multi-user.target
