[Unit]
Description=Trigger to remove unused flatpaks
Documentation=man:flatpak-uninstall(1)


[Timer]
OnCalendar=weekly
Persistent=true
[Install]
WantedBy=timers.target
